
#layout{
  width: 100%;
  margin-block-start: -110px;
}

.header-relative{
  position: relative; 
  margin-top: 0px;
}

main{
  margin-inline-start: 0px;
  margin-inline-end: 20px;
  margin-block-start: 0px;
}

.content-busca-paciente{
  text-align: center;
}

.content-subhead-busca-paciente + p, dd {
  text-align: center;
}


.content-subhead-busca-paciente {
  margin: 0px;
}

a b {
  text-decoration: underline;
}
a b:hover {
  color: #3085d6;
}

.container-busca-paciente {
width:100%;
position: relative;
height: 50px;
font-size: 70%;
margin-inline-start: 37em;
}

.container-busca-paciente input {
height: 50px;
border: none;
outline: none;
padding-left: 50px;
width: 0;
position: absolute;
top: 0;
left: 5px;
background: none;
z-index: 3;
transition: width 1s ease-out;
cursor: pointer;
}

.container-busca-paciente input:focus { 
border: 1px solid #333; /* #ccc  */
border-radius: 10px;
width: 400px;
z-index: 1;
transition: width 1s ease-in;
}

.button-busca-paciente { 
height: 50px;
width: 50px;
/* background:  url('/global/images/iconfinder_Search_858732.png')  center no-repeat; */
background:  url('')  center no-repeat;
background-color: #333;
border-right: 1px solid #333;
border-bottom: none;
border-top: none;
border-left: none;
top: 0;
left: 0;
z-index: 2;
cursor: pointer;
}

.button-busca-paciente b{
  color: black;
}

button:focus {
outline: none;
}

/* esconde o LABEL "Buscar" */
label .button-busca-paciente {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;	
} 
 

/* width: define a largura do campo */
/* position: cria o contexto de posicionamento do botão */
.container-busca-paciente {
  width: 50%; 
  position: relative;  
}

/* input: define a largura do campo igual a largura do container */
/* label {display:block;}*/

/* input {width: 100%;} 
input,  button {padding: 10px;}
button {
  position: absolute;   
  top: 0; 
  right: 0;
}   */

 /* posiciona o botão em relação ao container, mas
  como o campo está exatamente contido no container
  o posicionamento se dá também em relação ao campo */
