
main{
  margin-inline-start: 30px;
}

.paciente-atendimento{
  font-size: 80%;
  color: cyan;
}

sub{
  font-size: 60%;
}

.container {
width:100%;
position: relative;
height: 50px;
}

input {
height: 50px;
border: none;
outline: none;
padding-left: 50px;
width: 0;
position: absolute;
top: 0;
left: 0;
background: none;
z-index: 3;
transition: width 1s ease-out;
cursor: pointer;
}

input:focus { 
border: 1px solid #ccc;
border-radius: 10px;
width: 400px;
z-index: 1;
transition: width 1s ease-in;
}

.numbers input:focus  { 
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 220px;
  z-index: 1;
  transition: width 1s ease-in;
}

.button { 
height: 50px;
width: 50px;
background:  url('/global/images/iconfinder_Search_858732.png')  center no-repeat;
border: none;
position: absolute;
top: 0;
left: 0;
z-index: 2;
cursor: pointer;
}

button:focus {
outline: none;
}

/* esconde o LABEL "Buscar" */
label {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;	
} 
 


/* 
.container {
  width: 50%; /* define a largura do campo 
  position: relative;  /* cria o contexto de posicionamento do botão 
}
label {display:block;}
input {width: 100%;} /* define a largura do campo igual a largura do container 
input,  button {padding: 10px;}
button {
  position: absolute;   
  top: 0; 
  right: 0;
  /* posiciona o botão em relação ao container, mas
  como o campo está exatamente contido no container
  o posicionamento se dá também em relação ao campo 
} 
*/