.data-tratamento{
  margin-inline-start: -875px;
}
#data-tratamento{
  background-color: #333; 
  /* color: rgba(245, 245, 245, 0.801);  */
  border-color: #777;
  width: 140px;
}

/* background-color: #333; border-color: #777; */

#status{
  width: 110px;
}

#descartar-atendimento{
  margin-inline-start: 30%;
}

.nav-link{
  color: #777;
  /* font-weight: 600; */
}

a:hover{
  color: cyan;
  text-decoration: none;
}


.button-link-image{
  margin-block-start: -10px;
  margin-inline-start: -1px;
  text-align: left;
  font-size: 80%;
}

.button-link-image a, a small {
  color: black;
  text-decoration: none;
}
.button-link-image a:hover, a:hover small {
  color: cyan;
  text-decoration: none;
}
.button-link-image p {
  margin-top: 5px;
  color: cyan;
}

.form-atendimento-inclusao{
  font-size: 80%;
}

.form-atendimento-inclusao h6{
  text-align: center;
}

.form-atendimento-inclusao input, 
.form-atendimento-inclusao select,
.form-atendimento-inclusao textarea {
  font-size: 80%;
}

.form-atendimento-inclusao .text-align-center{
  text-align: center;
}


.form-atendimento-inclusao h3 {
  font-size: 100%;
}

.btn span.glyphicon {
  opacity: 0;
}

.btn.active span.glyphicon {
  opacity: 1;
}
input[type="checkbox"]:indeterminate {
    color: red;
    background: black;
}
input[type="checkbox"]:indeterminate:hover {
    cursor: wait;
}

.btn-lightblue {
  color: #fff;
  background-color: lightblue;
  border-color: lightblue;
}
.btn-blue {
  color: #fff;
  background-color: blue;
  border-color: blue;
}
.btn-darkblue {
  color: #fff;
  background-color: darkblue;
  border-color: darkblue;
}
.btn-green {
  color: #fff;
  background-color: green;
  border-color: green;
}
.btn-darkgreen {
  color: #fff;
  background-color: darkgreen;
  border-color: darkgreen;
}
.btn-yellow {
  color: #fff;
  background-color: yellow;
  border-color: yellow;
}
.btn-darkyellow {
  color: #fff;
  background-color: rgb(212, 212, 8);
  border-color: rgb(212, 212, 8);
}
.btn-orange {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-darkorange {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-red {
  color: #fff;
  background-color: red;
  border-color: red;
}
.btn-darkred {
  color: #fff;
  background-color: darkred;
  border-color: darkred;
}

.corpo-humano{
  width: 260;
  height: 377;
}

