.button-link-image{
  margin-block-start: -10px;
  margin-inline-start: -1px;
  text-align: left;
  font-size: 80%;
}

.button-link-image a {
  color: black;
  text-decoration: none;
}
.button-link-image a:hover {
  color: cyan;
}

