

body{
  /* font-family: 'Nunito', sans-serif;
  padding: 50px;  
  color: #777;  
  font-family: Verdana, Arial, Helvetica, sans-serif; */

  background-color: #333;
  position: relative;
} 

main{
  margin-inline-start: 2.5em;
}

#layout{
  width: 100%;
  margin-block-start: 20px;
  transition: none;
}

.header-relative{
  position: relative; 
  margin-top: -110px;
}

.busca-paciente {
  margin-block-start: -10px;
  font-size: 80%;
}

.button-link-image a {
  color: black;
  text-decoration: none;
}
.button-link-image a:hover {
  color: cyan;
}

h2 {
  font-size: 1.5rem;
}

.incluir-tratamento {
  margin-block-start: 10px;
  font-size: 80%;
}

.desabilitar-incluir-tratamento a{
  margin-block-start: 10px;
  color: rgb(66, 66, 66);
  font-size: 80%;
  text-decoration: none;
  cursor: unset;
}

.card{
  font-size: 70%;  /*  MRO */
  letter-spacing: 1px;
  border-radius: 4px;
  background: #333; /* #fff */
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  padding: 5px 10px 5px 10px;
  transition: none;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* cursor: pointer; */
}

.card-1 p, .card-1 span, .card-3 p, .card-3 span {
  /* font-family: 'Courier New', Courier, monospace; */
  margin-top: 5px;
  line-height: 0;
}

.card-4 p,  .card-4 span, .card-5 p,  .card-5 span, 
.card-6 p,  .card-6 span, .card-7 p,  .card-7 span{
  margin-top: 5px;
  line-height: 1.5;
  /* font-family: 'Courier New', Courier, monospace; */
}

.card-2 p{
  margin-top: 5px;
  font-size: 80%;
  color: rgba(245, 245, 245, 0.801);
}
.card-2 a{
  font-size: 80%;
  letter-spacing: 0px;
  color: black;
}
.card-2 a:hover{
  color: cyan;
  text-decoration: none;
}

p span{
  /* color: cyan; */
  color: rgba(245, 245, 245, 0.801);
  letter-spacing: 1px;
}

#cel {
  margin-top: 0px;
  margin-bottom: 3px;
}
#tel{
  margin-bottom: 14px;
}
/* .card-2 span{
  color: #777;
} */

.col-lg-12{
  width: 1235px; 
  flex: max-width;
}

.card-4 h6{
  text-align: center;
}

/* .card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} */

.card h6{
  /* font-weight: 50; */
  font-size: 100%;
  text-align: left;
}

.card-2, .card-2 h6{
  color: cyan;
  text-align: center;
  font-size: 90%;
}
/* .card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
} */

/* .card-1{
  background-image: url(/global/images/iconfinder_paper-clip-academic-note-exam_2824438.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
} */

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 

/* table{
  font-family: 'Courier New', Courier, monospace;
  font-size: 70%; 
  width: 100%;
} */

/* TABLE */

table {
  border-collapse: collapse;
  /* border: 1px solid #777; */
  /* font-family: 'Courier New', Courier, monospace; */
  letter-spacing: 1px;
  font-size: 70%;

  table-layout: fixed;
  width: 100%;
}


thead th:nth-child(1) {
  width: 4%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 43%;
}

thead th:nth-child(4) {
  width: 43%;
}


/* .table-title{
  text-align: center; 
  margin-bottom: -5px;
  font-size: 80%;
} */

th{
  height: 20px;
  font-weight: 500;
}

td, th {
  /* border: 0.5px solid #777; */
  padding: 3px 4px;
  /* max-width: 480px; */
}

td {
  /* border: 0.5px solid #777; */
  text-align: justify;
  color: rgba(245, 245, 245, 0.801);
}
th a{
  text-decoration: none;
  color: black;
}
th a:hover{
  text-decoration: none;
  color: cyan;
}
/* th {
  background-color: rgb(235,235,235);
} */
thead th{
  padding: 5px 4px;
  text-align: left;
  /* border-bottom: 1px solid #777; */
  /* background-color: rgb(66, 66, 66) */
}
thead td{
  padding: 5px 4px;
  text-align: center;
  /* border-bottom: 1px solid #777; */
  /* background-color: rgb(66, 66, 66) */
}


tr:nth-child(odd) td {
  background-color: rgb(66, 66, 66)
}  
/* tr:nth-child(odd) th {
  background-color: rgb(66, 66, 66)
}   */

/* thead th{
  color: black;
} */

.clean{
  display: none;
}