.table-atendimentos thead th:nth-child(1) {
  width: 4%;
}

.table-atendimentos thead th:nth-child(2) {
  width: 7%;
}

.table-atendimentos thead th:nth-child(3) {
  width: 35%;
}

.table-atendimentos thead th:nth-child(4) {
  width: 35%;
}

.table-atendimentos thead th:nth-child(5) {
  width: 4%;
}

.table-atendimentos thead th:nth-child(6) {
  width: 15%;
}