
/*
html { 
  background: rgb(46,45,45);
background: linear-gradient(0deg, rgba(46,45,45,1) 0%, rgba(0,0,0,1) 64%); 
}
*/


* {
color: whitesmoke;
background-color: black;
box-sizing: border-box;
margin: 0;
}



.logo {
  background-image: url(../images/paper-clip.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 20px;
}

h1{
  text-align: center;
  font-size: 60px;
 
}

.menu-principal{
  background-position: top center, 100%;
  background-size: contain;
  opacity: 1;
  margin: 0;
}

button #atendimento{
  
}

button, 
input, 
select, 
textarea { 
  font-family : inherit; 
  font-size : 100%; 
  box-sizing: border-box; 
  padding: 0;
  margin: 0; 
} 

textarea {
  overflow: auto;
}

