<div class="content content-busca-paciente">
    <h4 class="content-subhead content-subhead-busca-paciente">Busque o paciente o qual deseja atender</h4>
    <p>Preencha uma das informações abaixo e tecle [Enter]:</p>
</div>
<form>
    <div class="container container-busca-paciente">  
        <input type="search" id="cpf" name="cpf" placeholder=" apenas números e tecle Enter">
        <button class="button button-busca-paciente" type="button"><img src='/global/images/iconfinder_multimedia-07_2849829.png'  ><b>CPF</b></button>
    </div>
    <p></p>
    <div class="container container-busca-paciente">  
        <input type="search" id="cpfresp" name="cpfresp" placeholder=" apenas números e tecle Enter">
        <button class="button button-busca-paciente" type="button"><img src='/global/images/iconfinder_multimedia-07_2849829.png'  ><b>CPF&nbsp;responsável</b></button>
    </div>
    <p></p>
    <div class="container container-busca-paciente">  
        <input type="search" id="cns" name="cns" placeholder=" apenas números e tecle Enter">
        <button class="button button-busca-paciente" type="button"><img src='/global/images/iconfinder_multimedia-07_2849829.png'  ><b>CNS</b></button>
    </div>
    <p></p>
    <div class="container container-busca-paciente">  
        <input type="search" id="registro" name="registro" placeholder=" apenas números e tecle Enter">
        <button class="button button-busca-paciente" type="button"><img src='/global/images/iconfinder_multimedia-07_2849829.png'  ><b>Registro</b></button>
    </div>
    <p></p>
    <div class="container container-busca-paciente">  
        <input type="search" id="nome" name="nome" placeholder=" sem abreviações e tecle Enter">
        <button class="button button-busca-paciente" type="button"><img src='/global/images/iconfinder_multimedia-07_2849829.png'  ><b>Nome</b></button>
    </div>
</form>