

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
<link rel="stylesheet" href="/global/css/styles.css">
<link rel="stylesheet" href="/atendimentos/css/view-atendimentos.css">

<div class="busca-paciente" >  
  <a href="atendimentos.html" ><img src='/global/images/iconfinder_Search_858732.png'  >Buscar outro paciente</a>
</div>

<!-- <div class="card text-center" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<div class="row">
  <div class="col-md-4">
    <div class="card card-1">
      <h6>Documentos</h6>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-2">
      <h6>nome paciente substituído via DOM</h6>
      <p>substituído via DOM</p>
        <a href="#" class="btn btn-secondary">Ir para cadastro</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-3">
      <h6>Contato</h6>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card card-4">
      <h6>Ionic Native</h6>
      <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-5">
      <h6>UI Components</h6>
      <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
        of mobile UI components, ready to go.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-6">
      <h6>Theming</h6>
      <p>Learn hofdffdsfsdvf,bdmbk k dfmbklfmbdlkfbdlkbnfdlkbnflkbndflbknfdblkdfnblkdfnbfdlkbndflbknfdblkndfblkfdnbdflkbnfdlbkndfblkfdnblkfdnbdflkbndfw to easily customize and modify your app’s design to fit your
        brand across all mobile platform styles.</p>
    </div>
  </div>
</div>



