
<link rel="stylesheet" href="/global/css/bootstrap.css">
<link rel="stylesheet" href="/global/css/styles.css">
<link rel="stylesheet" href="/atendimentos/css/view-atendimentos-master.css">
<link rel="stylesheet" href="/atendimentos/css/view-atendimentos-inclusao.css">

<div class="button-link-image">
  <a href='javascript:RetornaTelaAtendimentoMaster()'> <img src='/global/images/iconfinder_multimedia-18_2849818.png'>Voltar para visão geral do paciente</a>
  <p></p>
</div>
<hr>
<form class="form-atendimento-inclusao">
  <div class="form-row">
    <div class="col-auto" style="margin-bottom: 10px">
      <label for="data-atendimento">Data do atendimento</label>
      <input type="date" required class="form-control form-control-sm text-align-center" id="data-atendimento">
    </div>
    <div class="col-auto">
      <label for="horario-atendimento">&nbsp;&nbsp;Horário</label>
      <input type="time" required class="form-control form-control-sm text-align-center" id="horario-atendimento">
    </div>
    <div class="col-1">
      <label for="duracao-atendimento">Duração(m)</label>
      <input type="number" required min="1" max="240" class="form-control form-control-sm" id="duracao-atendimento" placeholder="minutos">
    </div>
  </div>
  <div class="form-group">
    <label for="profissional">Profissional</label>
    <input type="text" required  maxlength="255"  class="form-control form-control-sm col-6" id="profissional" placeholder="VIRÁ PREENCHIDO DO LOGIN" disabled style="background-color: #333; border-color: #777;">
  </div>
  <hr>
  <div class="form-group">
    <label for="queixa">Queixa principal</label>
    <textarea rows="1" class="form-control form-control-sm col-6" id="queixa"></textarea>
  </div>
  <div class="form-group">
    <label for="trajeto-dor">Trajeto da dor</label>
    <textarea rows="1" class="form-control form-control-sm col-6" id="trajeto-dor" ></textarea>
  </div>
  <div class="form-group">
    <label for="tipo-dor">Tipo da dor</label>
    <textarea rows="1" class="form-control form-control-sm col-6" id="tipo-dor" ></textarea>
  </div>
  <div class="form-group" >
    <div class="well well-sm text-left">
      <h3 style="margin-inline-start: 0px;">Intensidade &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10</h3>
      <div class="btn-group" data-toggle="buttons" style="margin-inline-start: 90px;" id="intensidade-dor" >
        <label class="btn btn-lightblue"  >
          <input type="radio" name="options" id="dor0" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-blue"  >
          <input type="radio" name="options" id="dor1" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-darkblue ">
          <input type="radio" name="options" id="dor2" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-green">
          <input type="radio" name="options" id="dor3" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-darkgreen ">
          <input type="radio" name="options" id="dor4" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-yellow"  >
          <input type="radio" name="options" id="dor5" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-darkyellow ">
          <input type="radio" name="options" id="dor6" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-orange">
          <input type="radio" name="options" id="dor7" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-darkorange ">
          <input type="radio" name="options" id="dor8" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-red">
          <input type="radio" name="options" id="dor9" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
        <label class="btn btn-darkred">
          <input type="radio" name="options" id="dor10" autocomplete="off">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
      </div>
    </div>  
  </div>
  <div class="form-group">
    <label for="tipo-dor">Indicação do local</label>
    <img class="corpo-humano"  src="/global/images/corpo-humano.png" id="boneco">
  </div>
  <hr>
  <div class="form-group">
    <label for="evolucao-quadro">Evolução do quadro</label>
    <textarea rows="1" class="form-control form-control-sm col-6" id="evolucao-quadro" ></textarea>
  </div>
  <div class="form-group">
    <label for="fatores-agravantes">Fatores agravantes ( + )</label>
    <textarea rows="1" class="form-control form-control-sm col-6" id="fatores-agravantes" ></textarea>
  </div>
  <div class="form-group">
    <label for="fatores-atenuantes">Fatores atenuantes ( - )</label>
    <textarea rows="1" class="form-control form-control-sm col-6" id="fatores-atenuantes" ></textarea>
  </div>
  <div class="form-group">
    <label for="tratamentos-anteriores">Tratamentos anteriores</label>
    <textarea rows="1" class="form-control form-control-sm col-6" id="tratamentos-anteriores" ></textarea>
  </div>
</form>
<hr>
<button type="button" class="btn btn-primary btn-sm" id="gravar-atendimento">Salvar</button>




