
<link rel="stylesheet" href="/global/css/bootstrap.css">
<link rel="stylesheet" href="/global/css/styles.css">
<link rel="stylesheet" href="/atendimentos/css/view-atendimentos-master.css">
<link rel="stylesheet" href="/atendimentos/css/view-atendimentos-formulario.css">

<div class="button-link-image">
  <a href='javascript:CriaTelaAtendimentoMaster(indexPacienteBd)'> <img src='/global/images/iconfinder_multimedia-18_2849818.png'>Voltar para visão geral do paciente</a>
  <p></p>
</div>
<form class="form-atendimento-inclusao">
  <div class="form-group">
    <label for="titulo-tratamento">Título tratamento</label>
    <input type="text" required class="form-control form-control-sm col-6" id="titulo-tratamento"></input>
  </div>
  <div class="form-row">
    <div class="col-auto">
      <label for="status">Status</label>
      <select class="form-control form-control-sm" id="status">
        <option>Em curso</option>
        <option>Condicionado</option>
        <option>Concluído</option>
      </select>
    </div>
    <div class="col-auto">
      <label for="data-tratamento">Início do tratamento</label>
      <input type="date" class="form-control form-control-sm  text-align-center" id="data-tratamento" disabled>
    </div>
  </div>
  <hr>
  <div class="form-row">
    <div class="col-auto" style="margin-bottom: 10px">
      <label for="data-atendimento">Data do atendimento</label>
      <input type="date" required class="form-control form-control-sm text-align-center" id="data-atendimento">
    </div>
    <div class="col-auto">
      <label for="horario-atendimento">&nbsp;&nbsp;Horário</label>
      <input type="time" required class="form-control form-control-sm text-align-center" id="horario-atendimento">
    </div>
    <div class="col-1">
      <label for="duracao-atendimento">Duração(m)</label>
      <input type="number" required min="1" max="240" class="form-control form-control-sm" id="duracao-atendimento" placeholder="minutos">
    </div>
    <div class="col-auto">
      <label for="formulario">Formulário</label>
      <select title="É possível pré determinar o formulário padrão no cadastro do paciente" class="form-control form-control-sm" id="formulario">
        <option></option>
        <option>Fisioterapêutico</option>
        <option>Fisioterapêutico infantil</option>
        <option>Osteopático</option>
        <option>Osteopático infantil</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="profissional">Profissional</label>
    <input type="text" required  maxlength="255"  class="form-control form-control-sm col-6" id="profissional" placeholder="VIRÁ PREENCHIDO DO LOGIN" disabled style="background-color: #333; border-color: #777;">
  </div>
  <p id="instrucao"></p>
<!--  -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a   class="nav-link " id="tab1a" data-toggle="tab" href="#tab1a" role="tab" aria-controls="tab1a" aria-selected="true">Caracterização do quadro</a> <!--Fiso + Osteo-->
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link " id="tab1b" data-toggle="tab" href="#tab1b" role="tab" aria-controls="tab1b" aria-selected="true">Caracterização do quadro</a> <!--Fiso Inf-->
    </li>
    <li class="nav-item" role="presentation">
      <a  class="nav-link" id="tab2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Relação com outros sistemas</a> <!--Osteo-->
    </li>
    <li class="nav-item" role="presentation">
      <a  class="nav-link" id="tab3a" data-toggle="tab" href="#tab3a" role="tab" aria-controls="tab3a" aria-selected="false">Exame Físico</a>  <!--Fisio-->
    </li>
    <li class="nav-item" role="presentation">
      <a  class="nav-link" id="tab3b" data-toggle="tab" href="#tab3b" role="tab" aria-controls="tab3b" aria-selected="false">Exame Físico</a>  <!--Osteo-->
    </li>
    <li class="nav-item" role="presentation">
      <a  class="nav-link" id="tab4" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="true">Conduta</a>  <!--Fiso + Fiso Inf + Osteo-->
    </li>
    <li class="nav-item" role="presentation">
      <a  class="nav-link" id="tab5" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Orientação</a> <!--Fiso + Fiso Inf + Osteo-->
    </li>
    <li class="nav-item" role="presentation">
      <a  class="nav-link" id="tab6" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">Encaminhamento</a> <!--Fiso + Fiso Inf + Osteo-->
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="content1a" role="tabpanel" aria-labelledby="content1a">
            <div class="form-group">
              <label for="quadro-geral">Quadro geral</label>
              <a  href='javascript:CopiaQuadroGeral()'> <img class="copia-quadro-geral"  title="Clique aqui para copiar o quadro geral do último atendimento" src='/global/images/iconfinder_document_file_paper_page-03_2850903.png' style="display: none; margin-inline-start: 1em;"><small class="copia-quadro-geral" style="display: none;">copia quadro geral do antendimento anterior</small></a>
              <textarea rows="1" class="form-control form-control-sm col-6" id="quadro-geral" ></textarea>
            </div>
            <div class="form-group">
              <label for="queixa">Queixa principal</label>
              <textarea rows="1" class="form-control form-control-sm col-6" id="queixa"></textarea>
            </div>
            <div class="form-group">
              <label for="trajeto-dor">Trajeto da dor</label>
              <textarea rows="1" class="form-control form-control-sm col-6" id="trajeto-dor" ></textarea>
            </div>
            <div class="form-group">
              <label for="tipo-dor">Tipo da dor</label>
              <textarea rows="1" class="form-control form-control-sm col-6" id="tipo-dor" ></textarea>
            </div>
            <div class="form-group" >
              <div class="well well-sm text-left"> 
                <h3 style="margin-inline-start: 0px;">Intensidade &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10</h3>
                <div class="btn-group" data-toggle="buttons" style="margin-inline-start: 90px;" id="intensidade-dor" >
                  <label class="btn btn-lightblue"  >
                    <input type="radio" name="options" id="dor0" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-blue"  >
                    <input type="radio" name="options" id="dor1" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-darkblue ">
                    <input type="radio" name="options" id="dor2" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-green">
                    <input type="radio" name="options" id="dor3" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-darkgreen ">
                    <input type="radio" name="options" id="dor4" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-yellow"  >
                    <input type="radio" name="options" id="dor5" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-darkyellow ">
                    <input type="radio" name="options" id="dor6" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-orange">
                    <input type="radio" name="options" id="dor7" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-darkorange ">
                    <input type="radio" name="options" id="dor8" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-red">
                    <input type="radio" name="options" id="dor9" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="btn btn-darkred">
                    <input type="radio" name="options" id="dor10" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                </div>
              </div>  
            </div>
            <div class="form-group">
              <label for="tipo-dor">Indicação do local</label>
              <img class="corpo-humano"  src="/global/images/corpo-humano.png" id="boneco">
            </div>
            <div class="form-group">
              <label for="fatores-agravantes">Fatores agravantes ( + )</label>
              <textarea rows="1" class="form-control form-control-sm col-6" id="fatores-agravantes" ></textarea>
            </div>
            <div class="form-group">
              <label for="fatores-atenuantes">Fatores atenuantes ( - )</label>
              <textarea rows="1" class="form-control form-control-sm col-6" id="fatores-atenuantes" ></textarea>
            </div>
            <div class="form-group">
              <label for="tratamentos-anteriores">Tratamentos realizados por terceiros</label>
              <textarea rows="1" class="form-control form-control-sm col-6" id="tratamentos-anteriores" ></textarea>
            </div>
    </div>
    <div class="tab-pane fade " id="content1b" role="tabpanel" aria-labelledby="content1b" >
      <div class="form-group">
        <label for="relato-resp">Relato do responsável</label>
        <textarea rows="1" class="form-control form-control-sm col-6" id="relato-resp"></textarea>
      </div>
      <div class="form-group">
        <label for="avaliacao">Avaliação</label>
        <textarea rows="1" class="form-control form-control-sm col-6" id="avaliacao" ></textarea>
      </div>
    </div>
    <!--  -->
    <div  class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="content2">
      <div class="form-row ">
        <div class="col-auto" style="margin-bottom: 10px">
          <label for="text-cardiologico" style="margin-block-start: 0.2rem"  >Cardiológico</label>
        </div>
        <div class="form-check">
          <input class="form-check-input position-static" type="checkbox" id="check-cardiologico" value="option1" aria-label="...">
        </div>
        <div class="col">
          <input style="display: none;"   type="text" required class="form-control form-control-sm col-6" id="text-cardiologico">
        </div>
      </div>  
      <div class="form-row">
        <div class="col-auto" >
          <label for="text-vascular" style="margin-block-start: 0.2rem; margin-inline-start: 1.5rem;"  >Vascular</label>
        </div>
        <div class="form-check">
          <input class="form-check-input position-static" type="checkbox" id="check-vascular" value="option1" aria-label="...">
        </div>
        <div class="col">
          <input style="display: none;"  type="text" required class="form-control form-control-sm col-6" id="text-vascular">
        </div>
      </div>  
    </div>
    <!--  -->
    <div class="tab-pane fade" id="content3a" role="tabpanel" aria-labelledby="content3a">
      <p>CONTENT 3A</p>
    </div>
    <div class="tab-pane fade" id="content3b" role="tabpanel" aria-labelledby="content3b">
      <p>CONTENT 3B</p>
    </div>
    <div class="tab-pane fade" id="content4" role="tabpanel" aria-labelledby="content4">
      <p>CONTENT 4</p>
    </div>
    <div class="tab-pane fade" id="content5" role="tabpanel" aria-labelledby="content5">
      <p>CONTENT 5</p>
    </div>
    <div class="tab-pane fade" id="content6" role="tabpanel" aria-labelledby="content6">
      <p>CONTENT 6</p>
    </div>
  </div>
<!--  -->
</form>
<button type="button" class="btn btn-primary btn-sm" id="gravar-atendimento">Salvar</button>
<div>
  <button type="button" class="btn btn-secondary btn-sm" id="descartar-atendimento">Descartar alterações</button>
</div>
<div>
  <button  type="button" class="btn btn-secondary btn-sm" id="apagar-atendimento">Apagar atendimento</button>
</div>



